#root {
  width: 99vw;
  height: 99vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  color: #607960;
  text-align: center;
  height: 10vh;
  padding: 10px 0 10px 0;
}

#guess{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  font-size: 1rem;
}

#guess h3{
  margin-bottom: 10px;
  height: 1rem;
  font-size: 1rem;
  margin-top: 10px;
}

#guess h2,#guess button{ 
  padding: 6.5px;
}

.spaced-letters {
  letter-spacing: 10px;
}



#picture {
  padding: 15px;
  text-align: center;
  height: 42vh;
}

#picture p{
margin: 15px;
}

#picture img{
  height: 30vh;
}

#alphabet{
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#alphabet button{
margin: .15em;
padding: .1em;
font-size: .9srem;
height: 1.5em;
width: 1.5rem;
cursor: pointer;
}

#new-game{
  text-align: center;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-game button{
  padding: 6.5px;
  font-size: 1rem;
}

button:enabled {
  background-color: rgb(17, 32, 16);
  color: #fff;
}

button:disabled {
  background-color: rgb(236, 227, 227);
  color: black;
}



/* #container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
#picture {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guess {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

#alphabet {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
} */

/* .letter {
  margin: 2.5px;
} */

#success,
#fail {
  position: absolute;
  top: 30%;
  left: 30%;
  color: aqua;
  font-size: 3rem;
}

#gallows {
  position: relative;
  
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#rope {
  border: solid black 2px;
  width: 0;
  height: 60px;
  animation: slide-down 1s ease-out forwards;
}

#head {
  border: solid black 3px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  animation: slide-down 1s ease-out forwards;
}

#upper-body {
  display: flex;
}

#left-arm {
  height: 50px;
  width: 50px;
  background: linear-gradient(
    to top left,
    #fff calc(50% - 3px),
    black,
    #fff calc(50% + 1px)
  );
  animation: slide-down 1s ease-out forwards;
}

#right-arm {
  height: 50px;
  width: 50px;
  background: linear-gradient(
    to top right,
    #fff calc(50% - 3px),
    black,
    #fff calc(50% + 1px)
  );
  animation: slide-down 1s ease-out forwards;
}

#spine {
  border: solid black 2px;
  width: 0;
  height: 70px;
  animation: slide-down 1s ease-out forwards;
}

#lower-body {
  display: flex;
}

#left-leg {
  height: 50px;
  width: 50px;
  background: linear-gradient(
    to top left,
    #fff calc(50% - 3px),
    black,
    #fff calc(50% + 1px)
  );
  animation: slide-down 1s ease-out forwards;
}

#right-leg {
  height: 50px;
  width: 50px;
  background: linear-gradient(
    to top right,
    #fff calc(50% - 3px),
    black,
    #fff calc(50% + 1px)
  );
  animation: slide-down 1s ease-out forwards;
}

.empty {
  height: 50px;
  width: 50px;
}

#empty-spine {
  width: 2px;
}
